<h1>Angular 7</h1>

<h4>What is Angular?</h4>
<p>Angular is a <b>JavaScript Framework</b> which allows you to create reactive <b>Single Page Applications</b> (SPAS)</p>
<hr>
<h4>A7 v/s A6 v/s A2 v/s A1</h4>
<p>Angular1 is invent in 2010. It is uused for build frontend applications for browsers. It interact with dom elements and highly reputatd features without reloading th page</p>
<p>Angular2 is complete rewrite of Angular1 it is build on 2013. Now Angular1 is just Angularjs with different frameworks. Incremental Improvements, No complete Re-writes. AngularJs is not related to Angular2</p>
<hr>
<h4>Install Angular7 setup steps</h4>
<p>A command line interface for Angular</p>
<a href="https://www.udemy.com/the-complete-guide-to-angular-2/">Project Setup and First App</a>
<p>1. create a new project</p>
<span>Command : ng new project-name</span>
<p>2. Editing the first app</p>
<a href="https://www.udemy.com/the-complete-guide-to-angular-2/">Editing the First App</a>
<p>3. Inside the project the package.json file where all the dependencies are showing which we install</p>
<p>4. E2E where end to end testing</p>
<p>5. src where app folder is there.. which is by deafult created</p>
<p>app folder app.component.html, app.component.specs, app.component.ts and app.component.css</p>
<input [(ngModel)]="name">
<p>"{{name}}"</p>
<hr>
<h4>Course Structure</h4>
<p>Getting Started</p>
          |
<p>The Basics</p>
          |
<p>Components and Databinding</p>
          |
<p>Directives</p>
          |
<p>Services and dependencies injection</p>
          |
<p>Routing</p>
          |
<p>Observables</p>
          |
<p>Forms</p>
          |
<p>Pipes</p>
          |
<p>Http</p>
          |
<p>Authentication</p>
          |
<p>Optimizations and NgModules</p>
          |
<p>Deployment</p>
          |
<p>Animations and Testing</p>