<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">Planning the App</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 bg-grey" height="100%" style="border: 1px solid">
      <h4 class="text-center">
        Root
      </h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" height="100%" style="border: 1px solid">
      <h4 class="text-center">
        Header
      </h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6" style="margin: auto; display: block; padding: 10px; border:1px solid;">
      <h5 style="text-align: center;">Shopping List</h5>
    </div>
    <div class="col-md-6" style="margin: auto; display: block; padding: 10px; border:1px solid;">
      <h5 style="text-align: center;">Recipe Book</h5>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6" style="margin: auto; display: block; padding: 10px; border:1px solid;">
      <h5 style="text-align: center;">Shopping List</h5>
    </div>
    <div class="col-md-6" style="margin: auto; display: block; padding: 10px; border:1px solid;">
      <h5 style="text-align: center;">Recipe List</h5>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6" style="margin: auto; display: block; padding: 10px; border:1px solid;">
      <h5 style="text-align: center;">Shopping List Edit</h5>
    </div>
    <div class="col-md-6" style="margin: auto; display: block; padding: 10px; border:1px solid;">
      <h5 style="text-align: center;">Recipe Item</h5>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6" style="margin: auto; display: block; padding: 10px; border:1px solid;">
      <h5 style="text-align: center;">Ingredient</h5>
    </div>
    <div class="col-md-6" style="margin: auto; display: block; padding: 10px; border:1px solid;">
      <h5 style="text-align: center;">Reciepe Detail</h5>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6" style="margin: auto; display: block; padding: 10px;">
      <!-- <h5 style="text-align: center;">Shopping List</h5> -->
    </div>
    <div class="col-md-6" style="margin: auto; display: block; padding: 10px; border:1px solid;">
      <h5 style="text-align: center;">Reciepe</h5>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3" style="margin: auto; display: block; padding: 10px;">
      <h5 style="text-align: center;"></h5>
    </div>
    <div class="col-md-3" style="margin: auto; display: block; padding: 10px; border:1px solid;">
      <h5 style="text-align: center;">Model</h5>
    </div>
    <div class="col-md-3" style="margin: auto; display: block; padding: 10px; border:1px solid;">
      <h5 style="text-align: center;">Component</h5>
    </div>
    <div class="col-md-3" style="margin: auto; display: block; padding: 10px; border:1px solid;">
      <h5 style="text-align: center;">Features</h5>
    </div>
    
  </div>
</div>