<h1>How to get the most out of the course</h1>
<p>Watch the videos</p><br>
<p>Do the Assignments</p><br>
<p>Do the course Project</p><br>
<p>Ask in Q&A, but...</p><br>
<p>also answer in Q&A</p>
<div>
  <p>Docs & Google</p>
</div>
<hr>
<h1>Typescript</h1>
<p>It is a type set of javascript with features than vanilla js eg. types, classes, interface,..</p>
<p>It is not run on the browser, for to handle the typescript we need cli. On te browser only javascript is run</p>
<hr>
<h1>A Basic Project Setup using Bootstrap for styling</h1>
<p>To install Bootstrap</p>
<span>command : npm install --save bootstrap@4</span>